<div class="bg-slate-800 h-20 grid grid-cols-3">
  <div class="flex items-center px-5">
    <a routerLink="/">
      <p class="text-white">Winner Stays On</p>
    </a>
  </div>
  <div class="flex space-x-10 justify-center items-center">
    <a routerLink="/home" class="text-white">Home</a>
    <a routerLink="/competitions" class="text-white">Competitions</a>
    <a routerLink="/about" class="text-white">About</a>
    <a routerLink="/faq" class="text-white">F.A.Q.</a>
    <a routerLink="/support" class="text-white">Support</a>
  </div>
  <div class="flex justify-end items-center px-5">
    <p class="text-white">Log In</p>
  </div>
</div>
